
# Diretórios e arquivos de compilação/cache
__pycache__/
DB_ACCESS/
JUPYTER/
dados_files/

# Arquivos temporarios
*.ipynb
*.md
log_erros.txt
*.xlsx
*.xls

# Dependências (ambientes virtuais)
# Editores e IDEs (Integração de Ambiente de Desenvolvimento)
OUTPUT/
.vscode/
.meu_ambiente/
.idea/
.ipynb_checkpoints
.vscode